html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0; 
}

body{
  background-color:#eee;
}

.box{
  background-color: white;
  margin:60px 25%;
  min-height: 95vh;
}

.date{
  padding-top:35px;
  padding-left:35px;
  padding-bottom:10px;
  color:#777;
}

.title{
  text-align:center;
  margin-bottom:20px;
}

.hacker{
  font-size: 50px;
}

hr{
  border-top: 1px dotted #777;
  width:95%
}

.nav{
  margin-top:10px;
}

ul{
  list-style-type:none;
}

li{
  display:inline;
  padding:35px;
  color: #777;
}

h2{
  padding-top :8px;
  padding-left:25px;
}

h3{
  padding-top :8px;
  padding-left:25px;
  color: red;
}

.pic1{
  margin-left: 25px;
  width:95%;
}


.d1{
  padding-left: 25px;
  padding-right: 25px;  
}


.box1{
  display:inline-block;
  width:50%
}

.d2{
  padding-left:25px;
  padding-right:25px;

}

.pic2{
  margin-left:25px;
  width: 86%;
}

.box2{
  width: 50%;
  display:inline-block;
  float:right;
}

.pic3{
  margin-right:25px;
  width: 86%;
  padding-left:25px;
}

.d3{
  padding-left:25px;
  padding-right:25px;

}